title {
    color: red;
}

.btnList {
    
   
    opacity: 1;
    text-align: center;
    font: Bold 20px/29px Assistant;
    letter-spacing: 0;
    
    border-style: none;
    height: 40px;
    margin-top: 8%;
}
.divGridPeople {
    
    direction: rtl;
    text-align: right;
    overflow: auto;
    max-height: 50.5%;
    margin-top: 6%;
    margin-right: 8%;
   /* width: 18%;*/
}


.mainDiv {
    border-style: solid;
    margin: 1%;
    padding: 3px;
    margin-top: 6%;
    width: 90%;
    height: 580px;
    direction: rtl;
}
.DivGridPersonDetails {
    margin-right: 10%;
    margin-top: 6%;
    width: 60%;
}